@model List<StudentHallManagement.ViewModels.RoomViewModel>

<style>
    #formdiv {
        background-color: #fff;
        padding: 30px;
        margin-top: 3%;
        border: 2px solid rebeccapurple;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }
    hr {
        margin-bottom: 5%;
    }
    table {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
<div class="col-lg-9 col-lg-offset-2" id="formdiv">

    <h2>List of Room</h2>
    <hr />
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Room Name</th>
                <th>Room Capacity</th>
                <th>Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.serialnoVM</td>
                    <td>@item.roomnameVM</td>
                    <td>@item.roomcapacityVM</td>
                    <td>@item.availablilityVM</td>
                    <td>
                        <a asp-controller="Supervisor" asp-action="UpdateRoom" asp-route-idupdateroom="@item.roomidVM">
                            <i class="fa fa-pencil-square-o" style="font-size:25px;color:green;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



