@model StudentHallManagement.ViewModels.StudentViewModel
@{
    ViewData["Title"] = "MyInfo";
}

<style>
    #formdiv {
        background-color: #fff;
        padding: 30px;
        margin-top: 6%;
        border: 2px solid rebeccapurple;
        border-radius: 5px;
    }

    h2 {
        text-align: center;
    }

    hr {
        margin-bottom: 5%;
    }

    table {
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>
<div class="col-lg-6 col-lg-offset-3" id="formdiv">

    <h2>About @Model.studentnameVM</h2>
    <hr />
    <table class="table table-bordered">
        <tbody>
        <thead>
           
            <tr>
                <td>Hall ID:</td>
                <td>@Model.studenthallidVM</td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>@Model.departmentVM</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>@Model.dobdVM</td>
            </tr>
            <tr>
                <td>Contact No:</td>
                <td>+880 @Model.contactnoVM</td>
            </tr>
            <tr>
                <td>Admission Date:</td>
                <td>@Model.adVM</td>
            </tr>
        </thead>
        </tbody>
    </table>
</div>

